.app__about-box{
    display: flex;
    flex-direction: column;
    width:calc(100% - 2rem);
    height: 30vh;
    padding: 1rem 1rem;
    background: rgba( 52, 56, 25, 0.4);
    justify-content: center;
    align-items: center;

    h3{
        width: calc(100% - 2rem);
        padding: 1rem;
        border-bottom: 1px solid var(--black-color)
    }

    p{
        padding: 1rem;
        max-width: 70%;
    }

}