.app__skills-box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:calc(100% - 2rem);
    // height: 100vh;
    height: max-content;
    padding: 1rem 1rem;
    background: var(--primary-color);
    // justify-content: center;
    align-content: flex-start;

    h3{
        width: 100%;
        height: min-content;
    }

    @media screen and (max-width: 900px) {
        
        height: max-content;
    }

}

.badge-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // padding: 1rem;
    margin: 1rem;
    height: max-content;
    // background-color: var(--white-color);

    
}
