.app__header{
    display: flex;
    width:calc(100% - 2rem);
    height: 100vh;
    padding: 1rem 1rem;
    background: rgba( 52, 56, 25, 0.8);
    justify-items: center;

    @media screen and (max-width: 900px) {
        flex-direction: column;
    }

    
    
}

.app__header-img{
    display: flex;
    flex:.25;
    justify-content: flex-end;
    align-content: center;
    border-radius: 10px;
    overflow: hidden;
    img{
        width: 100%;
        object-fit: contain;
    }
    @media screen and (max-width: 900px) {
        flex: 50;
        justify-content: center;
    }
}

.app__nav-spacer{
    display: flex;
    
    width:calc(100% - 2rem);
    height: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // background: rgba( 52, 56, 25, 0.2);
    
    padding: 1rem 1rem;

    // position:fixed;
    top: 0;
    z-index: 0;
}

.p-text{
    display: flex;
    flex-direction: column;
    height: 70%;
    flex: .75;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    
   
    top: 10%;
    left: 10%;
    @media screen and (max-width: 900px) {
        flex: 60;
    }

    p{
        width: 500px;
        height: min-content;
        background: var(--white-color);
        padding: 1rem 2rem;
        border-radius: 100px;
        background: rgb(166, 166, 150);
        box-shadow: -2px 5px var(--black-color);
        margin-bottom: 1rem;
        font-size: xx-large;

        @media screen and (max-width: 900px) {
            font-size: x-larger;
            width: calc(500px - 4rem)
        }
    }
}
