@import "../../utilities/animations.scss";

.card {
	display: flex;
	// position: relative;
	margin: 1rem auto;
	// max-width: 100rem;

	width: 100rem;

	&__img {
		height: 35rem;
		width: 20%;
		border-radius: 10px;
		padding: 0.5rem 0;
		background-color: aqua;

		img {
			height: 100%;
		}
	}

	&__content {
		flex: 1 1;
		background-color: #fefefe;

		border-radius: 10px;
		justify-self: center;

		display: flex;
		flex-direction: column;

		justify-content: space-around;
		align-items: center;

		font-size: 1.5rem;
		padding: 0.5rem 0;
	}

	&:hover &__content {
		opacity: 0.8;
	}

	&__hover {
		display: block;
		width: 15rem;
		height: 2rem;
		border-radius: 1rem;
		background-color: #fefefe;
	}

	&__title {
		font-size: 2rem;
	}
}

.model {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(#807e7e, 0.5);
	z-index: 100;

	justify-content: center;
	align-items: center;

	&__box {
		width: 100rem;
		height: 60rem;
		background-color: #fefefe;
		display: grid;
		grid-template-columns: 40rem 80rem;
		gap: 0 5rem;
		padding: 1rem;
	}

	&__image {
		height: 60rem;
		width: auto;

		&--content {
			height: 100%;
		}
	}

	&__content {
		width: 50rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		h2 {
			font-size: 2rem;
		}

		p {
			font-size: 1.8rem;
			text-align: right;
		}
	}
}
