.ul {
  list-style-type: none;
  width: 100%;
  align-items: center;
}

.li {
  float: right;
  display: inline;
}

.name {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  color: white;
}

.li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li a:hover {
  background-color: plum;
}

.container {
  display: block;
  height: max-content;
  width: 100%;
  background-color: green;
  overflow: auto;
}
