@import "../../utilities/variables.scss";
.header {
	// background-color: $color-primary-dark;
	background-image: linear-gradient(
		to right,
		$color-primary,
		$color-primary-dark
	);
	display: grid;
	grid-template-columns: 70%;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	align-items: center;
	justify-items: center;

	&__img {
		height: calc(100% - 2rem);
		grid-row: 1 / -1;
		width: 100%;
		padding: 1rem 0;
		object-fit: contain;
		border-radius: 50%;
	}

	& > button {
		grid-row: 4 / 5;
	}
}

.heading-2 {
	grid-row: 2/3;
	font-size: 6rem;
	font-family: "Oswald";
	font-weight: 300;
	margin: 0;
	align-self: end;

	animation: slideFromLeft 0.7s cubic-bezier(0.6, 0.24, 0.77, 1.26);
}

@keyframes slideFromLeft {
	0% {
		opacity: 0;
		transform: translateX(-100%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.heading-3 {
	grid-row: 3/4;
	font-size: 2rem;
	align-self: start;

	animation: slideFromBottom 0.7s cubic-bezier(0.6, 0.24, 0.77, 1.26);
	animation-delay: 0.7s;
	animation-fill-mode: backwards;
}

@keyframes slideFromBottom {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
