$color-primary: #d4a373;
$color-primary-light: #f5ebe0;
$color-primary-dark: #c7843dc5;

$color-secondary: #91cd7a;
$color-secondary-light: #e6f4e1;

$color-tertiary: #41658a;
$color-tertiary-light: #82a3c4;
$color-tertiary-dark: #696d7d;
