.section{
    display: block;
    height: 300px;
    background-color: antiquewhite;
}

.title{
    color: black;
}

.list{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 15%;
    margin-right: 10%;
}

.list ul{
    list-style: none;
    padding-top: 5%;
}

.list li{
    display: flex;
    padding: 5%;
    padding-left: 10%;
    font-family: 'Roboto', sans-serif;
}

