.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &_bg {
    background-color: #777676;
        position: absolute;
    opacity: 80%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    }

    &_content {
        max-width: 80%;
        max-height: 100%;
        padding: 10px;
        margin: auto;
        background-color: white;
        z-index: 5;
        position: relative;
        overflow-y: auto;
    }
}

.hidden {
    display: none;
}
