.title_block {
  border-bottom: 2px solid black;
  display: grid;
  gap: 5px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, clamp(200px, 50% - 5px, 50%));
  padding: 2rem;
  
}

.title_block--left{
  
}

.title_block--right{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}