.ul {
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: green;
}

.li {
  float: right;
}

.li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li a:hover {
  background-color: plum;
}
