.content {
  background-color: white;

  max-width: 70%;
  /* margin-left: 15%; */
}

.nav {
  justify-self: baseline;
}

.section {
  margin: 1%;
  text-align: center;
  padding: 2%;
}

.container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: #8d89a6; */
}
