.App {
  width: 100%;
  text-align: center;
  
}

.title_block {
  border-bottom: 2px solid black;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fill, clamp(200px, 50% - 5px, 50%));
  padding: 2rem;

}

.title_block--left{

}

.title_block--right{

  display: flex;
  align-items: center;
  text-align: center;
}

.tech_cards{
  display: grid;
  gap: 2px 2px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 150px));
  padding: 3px;
  /* margin-left: clamp(1rem, 2.5rem, 5rem); */
  /* margin-right: clamp(1rem, 2.5rem, 5rem); */
  background-color: #da7c46f5;
}

.card {
  padding: 1rem;
  border-radius: 10px;
  background-color: #D7B29D;
}
