* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.anchor{
  position: relative;
  padding-top: 80px;
}

