.App {
  width: 100%;
  text-align: center;
  
}

.title_block {
  border-bottom: 2px solid black;
  /* display: grid; */
  grid-template-columns: 50% 50%;

}

.title_block--left{

}

.tech_cards{
  display: grid;
  gap: 2px 2px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 150px));
  padding: 3px;
  margin-left: 5rem;
  margin-right: 5rem;
}

.card {
  padding: 1rem;
  border-radius: 10px;
  background-color: cornflowerblue;
}
