@import "../../utilities/variables.scss";

.link {
	&:link,
	&:visited {
		text-decoration: none;
		color: inherit;
		transition: all 0.1s ease-out;
	}
}

.btn {
	background: none;
	border: none;

	border-radius: 1rem;
	font-size: 2rem;

	background-color: $color-primary-light;
	// color: $color-primary;
	transition: all 0.2s;

	&--main {
		padding: 1rem 2rem;
	}

	&--main:hover,
	&--main:active {
		background-color: $color-secondary;
		color: $color-primary-light;
		transform: translateY(-1px);
		box-shadow: 0 1rem 1rem rgba(#000, 0.5);
	}

	&--nav {
		font-size: 1.5rem;
		padding: 1rem 1rem;
		display: inline-block;
	}

	&--nav:hover,
	&--nav:active {
		background-color: $color-secondary;
		color: $color-primary-light;
		transform: translateY(-1px);
		box-shadow: 0 1rem 1rem rgba(#000, 0.5);
	}
}
