.app__project-box{
    display: flex;
    flex-direction: column;
    width:calc(100% - 2rem);
    height: max-content;
    padding: 1rem 1rem;
    background: rgba( 52, 56, 25, 0.4);
    justify-content: center;
    align-items: center;
}